* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans';
}

:root {
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --light-blue: hsl(210, 60%, 98%);
    --gray: hsl(219, 12%, 42%);
    --light-gray: hsl(219, 14%, 63%);
    --light-grayish-blue: hsl(211, 68%, 94%);
}

#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2em;
}

.title {
    display: flex;
    flex-direction: row;
    font-size: large;
}

.notification-number {
    background-color: var(--blue);
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    font-size:  small;
    height: auto;
    max-height: 1.7em;
    width: 2.3em;
    padding: 0.2em;
    margin-left: 1em;
    text-align: center;
}

.mark-all-btn {
    color: var(--gray);
    font-size: small;
    align-self: flex-end;
    text-decoration: none;
}

.notification-container {
    padding-top: 1em;
}

.notification {
    color: var(--gray);
    display: grid;
    grid-template-columns: 10vw 70vw;
    row-gap: 1rem;
    justify-content: center;
    align-content: center;
    font-size: small;
    height: auto;
    width: 85vw;
    text-align: justify;
    padding: 1.2em;
    margin: 0 auto;
}

.notif-body {
    padding: 0 1em;
}

.name {
    color: initial;
    display: inline-block;
    font-size: small;
    font-weight: bolder;
}

.notif-msg {
    display: inline-block;
}

.avatar, .picture {
    height: auto;
    width: 10vw;
}

.comment .notif-msg { 
    max-width: 50vw;
}
.picture {
    position: absolute;
    margin-top: -3rem;
    margin-left: 13.5rem;
}

.timestamp {
    color: var(--light-gray);
    align-self: flex-start;
    padding-top: 0.2em;
}


/*PERSONALIZED NOTIFICATION ATTRIBUTES*/

.active {
    background-color: var(--light-blue);
    margin-top: 0.5em;
}

.post-name {
    font-weight: bold;
    padding-left: 0.3em;
}

.group-name {
    color: var(--blue);
    display: inline-block;
    font-weight: bold;
    padding-left: 0.3em;
}

.message-view {
    border: 1px solid hsl(205, 33%, 90%);
    grid-column: 2 / 4;
    padding: 1em;
    text-align: left;
    margin-left: 0.8rem;
    width: 65vw;
}

.active .notif-dot {
    background-color: var(--red);
    border-radius: 50%;
    display: inline-block;
    height: 0.6em;
    width: 0.6em;
    margin-left: 0.5em;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 3rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*MEDIA QUERY*/

@media screen and (min-width: 700px) {
    .notif-body {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    html {
        background-color: var(--light-grayish-blue);
        padding-bottom: 2rem;
    }
    #container {
        background-color: white;
        height: auto;
        width: 50vw;
        margin: 0 auto;
        margin-top: 4rem;
        padding: 2em 0;
    }

    .title {
        font-size: x-large;
        padding-left: 1rem;
    }

    .notification-number {
        font-size: medium;
        max-height: 3.7em;
        width: 2.3em;
    }

    .mark-all-btn {
        font-size: 1em;
        padding-right: 2rem;
        
    }
    .notification {
        height: auto;
        width: 45vw;
        margin-left: 2.5vw;
    }
    .avatar {
        height: auto;
        width: 4vw;
        margin-left: 19vw;
    }
    .notif-body {
        padding: 0 17em;
        max-width: 60vw;
    }
    .message-view {
        margin-left: 14vw;
        width: 35vw;
    }
    .picture {
        margin-left: 31.5vw;
        width: 3vw;
    }
}